---
foo: bar
---
$serif: Georgia, "Times New Roman", Times, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-color: #ed2124;

// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin opacity($opacity) {
  filter: alpha(opacity=$opacity * 100);
  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}
@mixin gradient($from, $to) {
  background-color: $to;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  background-image:         linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

// Miscellaneous ---------------------------------------------------------------
html,
body {
  background: #ededed url(/img/tile.jpg) repeat 0 0;
}
body {
  color: #595959;
  font-size: 16px;
  font-family: $sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5em; // 24px
  margin-bottom: 1.5em; // 24px
}
b {
  font-weight: bold;
}
em {
  font-weight: bold;
  font-style: normal;
}
hr {
  border: none;
  width: 960px;
  height: 23px;
  background: transparent url(/img/divider.png) no-repeat 0 0;
}

.page {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.page:before,
.page:after {
  display: table;
  *display: inline;
  content: "";
  zoom: 1;
}
.page:after {
  clear: both;
}
.well {
  background: none;
}

// Headers ---------------------------------------------------------------------
h2,
h3 {
  font-weight: bold;
  color: #595959;
  text-shadow: 1px 3px 2px rgba(255, 255, 255, 1);
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
}
h2 {
  font-size: 1.875em; // 30px
  line-height: 1.6em; // 48px
}
h3 {
  font-weight: bold;
  font-size: 1.125em; // 18px
  line-height: 1.34em; // 24px
}

// Anchors ---------------------------------------------------------------------
a {
  color: #12548c;
  text-decoration: underline;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
a img {
  border: none;
}

// Header ----------------------------------------------------------------------
#top {
  height: 159px;
  background: transparent url(/img/header_tile.jpg) repeat-x 0 0;
  header {
    position: relative;
    height: 159px;
  }
  nav {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    height: 51px;
    padding-left: 2px;
    background: transparent url(/img/nav_divider.png) no-repeat 0 0;
    a {
      display: block;
      height: 34px;
      padding-top: 17px;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  ul {
    margin: 0;
  }
  li {
    float: left;
  }
  .right {
    float: right;
  }
}
.lt-ie7 #top nav {
  bottom: 9px;
}
h1 {
  padding-top: 12px;
}

.bar {
  width: 99px;
  background: transparent url(/img/nav_bg.png) no-repeat right top;
  color: #595959;
  text-shadow: 0 -1px 1px white;
  &:hover {
    background-position: 0 -51px;
    color: #2c2c2c;
  }
}

#donate {
  width: 164px;
  background: transparent url(/img/donate_bg.png) no-repeat 0 0;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  &:hover {
    background-position: 0 -51px;
  }
}

.home-page #home,
.about-page #about,
.work-page #work,
.team-page #team,
.press-page #press,
.contact-page #contact {
  background-position: 0 -51px;
}

#language {
  position: absolute;
  right: 0;
  top: 8px;
  font-weight: bold;
  font-size: 10px;
  a {
    color: $logo-color;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      color: lighten($logo-color, 10%);
      text-decoration: underline;
    }
  }
  span {
    position: relative;
    top: -1px;
    font-weight: normal;
    font-size: 8px;
  }
}

#icons {
  position: absolute;
  right: 0;
  top: 62px;
  li {
    display: inline;
  }
  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-image: url(/img/social_icons.png);
    background-repeat: no-repeat;
  }
}
#twitter {
  background-position: -26px 0;
  &:hover {background-position: -26px -26px;}
}
#facebook {
  background-position: -52px 0;
  &:hover {background-position: -52px -26px;}
}

// Content ---------------------------------------------------------------------
#middle {
  padding: 30px 0;
  background: #ededed;
  p {
    -webkit-font-smoothing: antialiased;
  }
  a {
    color: $logo-color;
    text-decoration: none;
    &:hover {
      color: lighten($logo-color, 10%);
      text-decoration: underline;
    }
  }
}

#content {
  float: left;
  width: 640px;
}

// Sidebar ---------------------------------------------------------------------
aside {
  float: right;
  width: 320px;
}

// Press -----------------------------------------------------------------------
.press-page {
  section {
    p {
      font-size: 0.8125em; // 13px
      line-height: 1.85em; // 24px
      margin-bottom: 1.85em; // 24px
    }
    span {
      color: #777;
      font-family: $serif;
      font-style: oblique;
    }
  }
  article {
    padding-left: 24px;
  }
  h3 {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  }
}
.articles {
  article {
    background: transparent url(/img/article.png) no-repeat 0 5px;
  }
  ul {
    margin: 0 0 1.5em 1.5em; // 24px
  }
} 
.radio {
  article {
    background: transparent url(/img/radio.png) no-repeat 0 2px; 
  }
  li {
    display: inline;
  }
  span {
    display: inline-block;
    height: 37px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 0 -37px;
    &:hover {
      background-position: 0 0;
    }
  }
}

.table {
  display: table;
}
#cbcradioone {
  width: 114px;
  background-image: url(/img/logos/cbcradioone.png);
}
#chmp {
  width: 79px;
  background-image: url(/img/logos/985fm.png);
}
#cibl {
  width: 98px;
  background-image: url(/img/logos/1015radiomontreal.png);
}
#radiopremierechaine {
  width: 105px;
  background-image: url(/img/logos/radiopremierechaine.png);
}
#virginradio {
  width: 31px;
  background-image: url(/img/logos/virginradio.png);
}
.lt-ie7 {
  #cbcradioone {
    background-image: url(/img/logos/cbcradioone.gif);
  }
  #chmp {
    background-image: url(/img/logos/985fm.gif);
  }
  #cibl {
    background-image: url(/img/logos/1015radiomontreal.gif);
  }
  #radiopremierechaine {
    background-image: url(/img/logos/radiopremierechaine.gif);
  }
  #virginradio {
    background-image: url(/img/logos/virginradio.gif);
  }
}

// Contact ---------------------------------------------------------------------
#coordinates {
  font-family: $serif;
  font-style: oblique;
  a {
    font-style: oblique;
  }
}

// Home ------------------------------------------------------------------------
.home-page .page p {
  text-align: center;
}

// Newsletter ------------------------------------------------------------------
#mc-embedded-subscribe-form {
  height: 3em;
  p,
  div.mce_inline_error {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.8125em; // 13px
    text-align: center;
  }
  input {
    padding: 0;
    border: none;
    line-height: 1em;
    @include box-shadow(none);
    @include border-radius(0);
  }
  #mce-EMAIL {
    width: 180px;
    height: 31px;
    padding: 1px 6px 0 8px;
    background: transparent url(/img/newsletter_input.png) no-repeat 0 0;
  }
  #mc-embedded-subscribe {
    width: 102px;
    height: 31px;
    background: transparent url(/img/newsletter_button.png) no-repeat 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
  }
}
div.mce_inline_error,
#mce-error-response {
  color: #a02e2a;
}
#mce-success-response {
  color: #390;
}

.lt-ie8 #mc-embedded-subscribe-form {
  #mce-EMAIL {
    background-position: 0 1px;
    padding-top: 8px;
    line-height: 1.25em;
  }
  #mc-embedded-subscribe {
    margin-top: -6px;
  }
}
.lt-ie7 #mc-embedded-subscribe-form {
  #mce-EMAIL {
    background-position: 0 0;
  }
  #mc-embedded-subscribe {
    margin-top: -5px;
  }
}

.btn {
  border: 1px solid #00427b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.2));
  @include gradient(#25659d, #00427b);
  &:hover {
    color: #fff;
  }
}

// Forms -----------------------------------------------------------------------
.form-stacked {
  padding-left: 0;
}
input.large {
  width: auto;
  height: auto;
}

// Footer ----------------------------------------------------------------------
#bottom {
  clear: both;
  height: 120px; // height of footer_tile.jpg
  background: transparent url(/img/footer_tile.jpg) repeat-x 0 0;
  footer {
    padding-top: 24px;
    height: 96px;
    background: transparent url(/img/footer_logo.jpg) no-repeat 0 22px;
    text-align: right;
  }
  ul {
    clear: right;
    float: right;
  }
  nav ul {
    margin: 0 0 11px;
    padding-bottom: 13px;
    background: transparent url(/img/footer_divider.png) repeat-x left bottom;
  }
  li {
    display: inline;
    padding-left: 15px;
    font-size: 10px;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    color: #595959;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
}
.fr #bottom footer {
  background-image: url(/img/pied_logo.jpg);
}

// Slideshow -------------------------------------------------------------------
#slider {
  height: 375px;
  width: 960px;
  margin-bottom: 1.5em;
}
.nivoSlider {
  display: none;
  height: 375px;
  width: 960px;
  overflow: hidden; 
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.7em;
}
.page .nivo-caption p {
  padding: 10px 10px 10px 80px;
  text-align: left;
}
.nivo-directionNav a {
  display: block;
  outline: none;
  top: auto; // reset
  bottom: 10px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: 1px solid #fff;
  background-image: url(/img/carousel_nav.jpg);
  background-repeat: no-repeat;
  text-indent: -999px;
  @include border-radius(3px);
  @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
.nivo-prevNav {
  left: 10px;
  background-position: 0 0;
}
.nivo-nextNav {
  left: 40px;
  background-position: right top;
}
.nivo-controlNav {  
  position: absolute;
  bottom: 3px;
  right: 15px;
}
.nivo-controlNav a {
  display: inline-block;
  outline: none;
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin: 5px;
  text-indent: -999px;
  @include border-radius(10px);
  @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  @include gradient(#fff, #ccc);
  @include opacity(0.4);
}
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
  font-weight: normal; // reset
  cursor: pointer;
  @include opacity(1);
}

// Internet Explorer -----------------------------------------------------------
// inline-block trick
.lt-ie8 {
  #icons a,
  .radio span,
  .nivo-controlNav a {
    zoom: 1;
    display: inline;
  }
}

// box-shadow not supported
.lt-ie9 {
  .nivo-directionNav a,
  .nivo-controlNav a {
    border: 1px solid #ccc;
  }
}
