.DS_Store
.sass-cache
_site
css
img
js
pdf
_config.yml
apple-touch-icon*
dir.ttl
favicon.ico
robots.txt
!assets/css
!assets/img
!assets/js
!assets/pdf
!assets/_config.yml
!assets/apple-touch-icon*
!assets/dir.ttl
!assets/favicon.ico
!assets/robots.txt
