<a class="back container" href="#" title="Back to top"></a>

<footer class="container">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/work/">Projects</a></li>
    <li><a href="/team/">Team</a></li>
    <li><a href="/press/">Press</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/donate/">Donate</a></li>
  </ul>

  <div id="social">
    <a id="twitter" href="http://twitter.com/opennorth" title="Follow @OpenNorth on Twitter">
      <img src="/img/blank.gif" alt="Twitter">
    </a>
    <a id="facebook" href="http://www.facebook.com/pages/Open-North-Nord-Ouvert/146755175403902" title="Facebook Profile">
      <img src="/img/blank.gif" alt="Facebook">
    </a>
  </div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/js/jquery.nivo.slider.pack.js"></script>
<script src="/js/jquery.twitter.js"></script>
<script src="/js/scripts.js"></script>

<script>
  var _gaq=[['_setAccount','UA-21866813-6'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>