<div id="top">
  <header class="page">
    <h1>
      <a href="/"><img src="/img/header_logo.png" width="352" height="72" alt="Open North"></a>
    </h1>
    <div id="language">
      <a href="http://nordouvert.ca/{{ page.francais }}">Français</a> | English
    </div>
    <nav>
      <ul class="unstyled">
        <li><a id="home" href="/" title="Home"></a></li>
        <li><a id="about" href="/about/">About</a></li>
        <li><a id="work" href="/work/">Projects</a></li>
        <li><a id="team" href="/team/">Team</a></li>
        <li><a id="press" href="/press/">Press</a></li>
        <li><a id="contact" href="/contact/">Contact</a></li>
        <li class="right"><a id="donate" href="/donate/">Support our work</a></li>
      </ul>
    </nav>
    <ul id="icons" class="unstyled">
      <li>
        <a id="linkedin" href="http://www.linkedin.com/groups/Open-Government-Canada-4206358?trk=myg_ugrp_ovr">
          <img src="/img/linkedin.gif" alt="LinkedIn" title="Join our LinkedIn group" width="17" height="18">
        </a>
      </li>
      <li>
        <a id="twitter" href="http://twitter.com/opennorth">
          <img src="/img/twitter.gif" alt="Twitter" title="Follow @OpenNorth on Twitter" width="14" height="16">
        </a>
      </li>
      <li>
        <a id="facebook" href="http://www.facebook.com/pages/Open-North-Nord-Ouvert/146755175403902">
          <img src="/img/facebook.gif" alt="Facebook" title="Facebook Profile" width="11" height="19">
        </a>
      </li>
    </div>
  </header>
</div>
