<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div id="top">
  <header class="page">
    <h1>
      <a href="/"><img src="/img/header_logo.png" width="354" height="74" alt="Open North"></a>
    </h1>
    <div id="language">
      <a href="http://nordouvert.ca/">Français</a> <span>|</span> English
    </div>
    <nav>
      <ul class="unstyled">
        <li><a class="bar" id="home" href="/">Home</a></li>
        <li><a class="bar" id="about" href="/about/">About</a></li>
        <li><a class="bar" id="work" href="/work/">Projects</a></li>
        <li><a class="bar" id="team" href="/team/">Team</a></li>
        <li><a class="bar" id="press" href="/press/">Press</a></li>
        <li><a class="bar" id="contact" href="/contact/">Contact</a></li>
        <li class="right"><a id="donate" href="/donate/">Support our work</a></li>
      </ul>
    </nav>
    <ul id="icons" class="unstyled">
      <li>
        <a id="twitter" href="http://twitter.com/opennorth" title="Follow @OpenNorth on Twitter">
          <img src="/img/blank.gif" alt="Twitter">
        </a>
      </li>
      <li>
        <a id="facebook" href="http://www.facebook.com/pages/Open-North-Nord-Ouvert/146755175403902" title="Facebook Profile">
          <img src="/img/blank.gif" alt="Facebook">
        </a>
      </li>
    </div>
  </header>
</div>
