<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <title>{{ page.title }}</title>
  <meta name="description" content="Open North is a Canadian non-profit building online tools to make democracy better.">
  <meta name="author" content="Open North">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="application-name" content="Open North">
  <meta name="msapplication-tooltip" content="Open North is a Canadian non-profit building online tools to make democracy better.">
  <meta name="msapplication-starturl" content="http://opennorth.ca/?pinned=true">
  <meta name="msapplication-navbutton-color" content="#ed2024">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="{{ page.type }}">
  <meta property="og:url" content="http://opennorth.ca/{{ page.english }}">
  <meta property="og:image" content="http://opennorth.ca/img/symbol.png">
  <meta property="og:site_name" content="Open North">
  <meta property="fb:admins" content="100002666906486">
  <meta property="og:description" content="Open North is a Canadian non-profit building online tools to make democracy better.">
  <meta property="og:locality" content="Montreal">
  <meta property="og:region" content="QC">
  <meta property="og:country-name" content="Canada">
  <meta property="og:email" content="info@opennorth.ca">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/modernizr-2.0.6.min.js"></script>
</head>
