<form action="http://opennorth.us2.list-manage.com/subscribe/post?u=a602fac79ef3dc584bf1a2743&amp;id=49afb9ad21" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <p>
    Get regular updates on our projects
    <input type="email" name="EMAIL" id="mce-EMAIL" class="required email" placeholder="enter your email address" required><input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe">
  </p>
  <p class="response" id="mce-error-response" style="display:none"></p>
  <p class="response" id="mce-success-response" style="display:none"></p>
</form>