<div id="bottom">
  <footer class="page">
    <nav>
      <ul class="unstyled">
        <li><a href="/">Accueil</a></li>
        <li><a href="/a-propos/">À propos</a></li>
        <li><a href="/projets/">Projets</a></li>
        <li><a href="/equipe/">Équipe</a></li>
        <li><a href="/media/">Média</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/dons/">Dons</a></li>
      </ul>
    </nav>
    <ul class="unstyled">
      <li><a href="http://www.linkedin.com/groups/Open-Government-Canada-4206358?trk=myg_ugrp_ovr" title="Joignez-vous à notre groupe LinkedIn">LinkedIn</a></li>
      <li><a href="http://twitter.com/nordouvert" title="Suivez @NordOuvert sur Twitter">Twitter</a></li>
      <li><a href="http://www.facebook.com/pages/Open-North-Nord-Ouvert/146755175403902" title="Profil Facebook">Facebook</a></li>
    </ul>
  </footer>
</div>

<script>
  var _gaq=[['_setAccount','UA-21866813-8'],['_trackPageview'],['_trackPageLoadTime']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>