<div id="top">
  <header class="page">
    <h1>
      <a href="/"><img src="/img/tete_logo.png" width="352" height="72" alt="Nord Ouvert"></a>
    </h1>
    <div id="language">
      Français | <a href="http://opennorth.ca/{{ page.english }}">English</a>
    </div>
    <nav>
      <ul class="unstyled">
        <li><a id="home" href="/" title="Accueil"></a></li>
        <li><a id="about" href="/a-propos/">À propos</a></li>
        <li><a id="work" href="/projets/">Projets</a></li>
        <li><a id="team" href="/equipe/">Équipe</a></li>
        <li><a id="press" href="/media/">Média</a></li>
        <li><a id="contact" href="/contact/">Contact</a></li>
        <li><a id="blog" href="http://blog.opennorth.ca/">Blogue</a></li>
        <li class="right"><a id="donate" href="/dons/">Faites un don</a></li>
      </ul>
    </nav>
    <ul id="icons" class="unstyled">
      <li>
        <a id="linkedin" href="http://www.linkedin.com/groups/Open-Government-Canada-4206358?trk=myg_ugrp_ovr">
          <img src="/img/linkedin.gif" alt="LinkedIn" title="Joignez-vous à notre groupe LinkedIn" width="17" height="18">
        </a>
      </li>
      <li>
        <a id="twitter" href="http://twitter.com/nordouvert">
          <img src="/img/twitter.gif" alt="Twitter" title="Suivez @NordOuvert sur Twitter" width="14" height="16">
        </a>
      </li>
      <li>
        <a id="facebook" href="http://www.facebook.com/pages/Open-North-Nord-Ouvert/146755175403902">
          <img src="/img/facebook.gif" alt="Facebook" title="Profil Facebook" width="11" height="19">
        </a>
      </li>
    </ul>
  </header>
</div>
