---
---
$serif: Georgia, "Times New Roman", Times, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-color: #ed2124;

// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
@mixin opacity($opacity) {
  filter: alpha(opacity=$opacity * 100);
  -khtml-opacity: $opacity;
  -moz-opacity: $opacity;
  opacity: $opacity;
}
@mixin gradient($from, $to) {
  background-color: $to;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  background-image:         linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

// Miscellaneous ---------------------------------------------------------------
body {
  color: #595959;
  font-size: 16px;
  font-family: $sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
p small {
  color: #777;
  font-size: 0.8125em;
  font-family: $serif;
  font-style: oblique;
}
b {
  font-weight: bold;
}

.page {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}

// Clearfix
.page:before,
.page:after {
  display: table;
  *display: inline;
  content: "";
  zoom: 1;
}
.page:after {
  clear: both;
}

// Headers ---------------------------------------------------------------------
h2,
h3 {
  font-weight: bold;
  color: #353535;
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
}
h2 {
  font-size: 1.875em; // 30px
  line-height: 1.6em; // 48px
}
h3 {
  font-weight: bold;
  font-size: 1.125em; // 18px
  line-height: 1.34em; // 24px
}

// Anchors ---------------------------------------------------------------------
a {
  color: #12548c;
  text-decoration: underline;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}
a img {
  border: none;
}

// Header ----------------------------------------------------------------------
h1 {
  margin-bottom: 2px;
  padding-top: 1em;
  font-size: 1em;
}
#top {
  header {
    position: relative;
  }
  nav {
    width: 100%;
    height: 44px;
    background: transparent url(/img/nav_bg.png) repeat 0 0;
    a {
      display: block;
      width: 99px;
      height: 44px;
      background: transparent url(/img/nav_button.png) no-repeat -101px 0;
      color: #353535;
      font-size: 0.75em;
      line-height: 44px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: #000;
        background-position: -101px -44px;
      }
    }
  }
  #home {
    width: 101px;
    background-position: 0 0;
    &:hover {
      background-position: 0 -44px;
    }
  }
  #donate {
    width: 162px;
    background-position: -200px 0;
    color: $logo-color;
    font-weight: bold;
    &:hover {
      background-position: -200px -44px;
    }
  }
  ul {
    margin: 0;
  }
  li {
    float: left;
  }
  .right {
    float: right;
  }
}

.about-page #about,
.work-page #work,
.team-page #team,
.press-page #press,
.contact-page #contact,
.blog-page #blog {
  background-position: -101px -44px;
}
.home-page #top #home {
  background-position: 0 -44px;
}
.donate-page #top #donate {
  background-position: -200px -44px;
}

#icons {
  position: absolute;
  right: 0;
  top: 54px;
  width: 102px;
  height: 34px;
  a {
    display: block;
    width: 34px;
    padding-top: 2px;
    height: 32px;
    background: transparent url(/img/social_button.png) no-repeat -34px 0;
    line-height: 34px;
    text-align: center;
  }
  #linkedin {
    background-position: 0 0;
  }
  #facebook {
    background-position: -68px 0;
  }
}

#language {
  position: absolute;
  right: 0;
  top: 1.333em;
  font-size: 0.75em;
}

// Content ---------------------------------------------------------------------
#language,
#middle {
  a {
    color: $logo-color;
    text-decoration: none;
    &:hover {
      color: lighten($logo-color, 20%);
      text-decoration: underline;
    }
  }
}
#middle p {
  -webkit-font-smoothing: antialiased;
}
.first {
  padding-top: 2em;
}
.divider {
  height: 21px;
  background: transparent url(/img/divider.png) no-repeat center center;
}

// Mailchimp -------------------------------------------------------------------
form p {
  margin: 0;
  font-weight: bold;
}
label {
  float: none;
  padding: 0;
  width: auto;
  color: inherit;
  font: inherit;
  text-align: left;
}

// Home ------------------------------------------------------------------------
#middle a.btn {
  color: #000;
  &:hover {
    text-decoration: none;
  }
  span {
    position: relative;
    top: -1px;
    padding-left: 1em;
    font-size: 0.5em;
  }
}

.spotlight {
  padding-top: 1em;
  .span7 {
    width: 560px;
  }
  .span5 {
    width: 360px;
  }
  .big {
    font-size: 1.5em;
    line-height: 1em;
  }
  img {
    margin-left: -17px;
  }
  h2 {
    padding-top: 0.5em;
    font-size: 3em;
  }
  p {
    color: #000;
  }
}

.penumbra {
  .span4 {
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid #dfdfdf;
    text-align: center;
    @include border-radius(5px);
    @include gradient(#fff, #f5f5f5);
    height: 12em;
  }
  h2 {
    padding-top: 10px;
  }
  p {
    padding: 0 5px;
    font-size: 0.75em;
  }
}
.more {
  margin-right: 10px;
}

// Press -----------------------------------------------------------------------
.press-page {
  section {
    li {
      margin-bottom: 1em;
      color: #777;
      font-size: 0.8125em;
      font-family: $serif;
      font-style: oblique;
      a {
        font-size: 1.231em;
      }
      a,
      span {
        font-family: $sans-serif;
        font-style: normal;
      }
    }
  }
}

.citizenbudget {
  background-color: #46a546;
}
.mamairie {
  //background-color: #f89406;
}

.logos {
  ul {
    margin: 0 0 30px;
  }
  li {
    display: inline;
  }
  span {
    display: inline-block;
    height: 37px;
    margin-right: 30px;
    background: transparent url(/img/logos.png) no-repeat 0 0;
  }
}
.table {
  display: table;
  margin-top: 2em;
}

#chmp {
  width: 79px;
  background-position: 0 -37px;
  &:hover {
    background-position: 0 0;
  }
}
#cibl {
  width: 98px;
  background-position: 0 -111px;
  &:hover {
    background-position: 0 -74px;
  }
}
#cbcradioone {
  width: 114px;
  background-position: 0 -333px;
  &:hover {
    background-position: 0 -296px;
  }
}
#ledevoir {
  width: 175px;
  background-position: 0 -481px;
  &:hover {
    background-position: 0 -444px;
  }
}
#journalmetro {
  width: 104px;
  background-position: 0 -555px;
  &:hover {
    background-position: 0 -518px;
  }
}
#openfile {
  width: 160px;
  background-position: 0 -629px;
  &:hover {
    background-position: 0 -592px;
  }
}
#owni {
  width: 123px;
  background-position: 0 -703px;
  &:hover {
    background-position: 0 -666px;
  }
}
#radiopremierechaine {
  width: 105px;
  background-position: 0 -999px;
  &:hover {
    background-position: 0 -962px;
  }
}
#thegazette {
  width: 241px;
  background-position: 0 -1147px;
  &:hover {
    background-position: 0 -1110px;
  }
}
#virginradio {
  width: 31px;
  background-position: 0 -1221px;
  &:hover {
    background-position: 0 -1184px;
  }
}
#cjad {
  width: 40px;
  background-position: 0 -1295px;
  &:hover {
    background-position: 0 -1258px;
  }
}
#cbcnews {
  width: 41px;
  background-position: 0 -1369px;
  &:hover {
    background-position: 0 -1332px;
  }
}
#leplateau {
  width: 134px;
  background-position: 0 -1443px;
  &:hover {
    background-position: 0 -1406px;
  }
}
#globeandmail {
  width: 281px;
  background-position: 0 -1517px;
  &:hover {
    background-position: 0 -1480px;
  }
}
#globalnews {
  width: 66px;
  background-position: 0 -1591px;
  &:hover {
    background-position: 0 -1554px;
  }
}
#journaldemontreal {
  width: 86px;
  background-position: 0 -1665px;
  &:hover {
    background-position: 0 -1628px;
  }
}
#lapresse {
  width: 190px;
  background-position: 0 -1739px;
  &:hover {
    background-position: 0 -1702px;
  }
}
#umq {
  width: 77px;
  background-position: 0 -1813px;
  &:hover {
    background-position: 0 -1776px;
  }
}
#meteomedia {
  width: 94px;
  background-position: 0 -1887px;
  &:hover {
    background-position: 0 -1850px;
  }
}
#musiqueplus {
  width: 56px;
  background-position: 0 -1961px;
  &:hover {
    background-position: 0 -1924px;
  }
}

// Contact ---------------------------------------------------------------------
#coordinates {
  font-family: $serif;
  font-style: oblique;
  a {
    font-style: oblique;
  }
}

.social {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-image: url(/img/social_icons.png);
  background-repeat: no-repeat;
}
.twitter {
  background-position: -26px 0;
  &:hover {background-position: -26px -26px;}
}
.facebook {
  background-position: -52px 0;
  &:hover {background-position: -52px -26px;}
}
.linkedin {
  background-position: -130px 0;
  &:hover {background-position: -130px -26px;}
}

// Blog ------------------------------------------------------------------------
.post {
  clear: left;
  header h2 {
    color: $logo-color;
  }
  header p {
    color: #999;
    font-size: 0.875em;
    font-style: italic;
  }
  h3 {
    font-size: 1.875em; // 30px
    line-height: 1.6em; // 48px
  }
  h4 {
    font-weight: bold;
    font-size: 1.125em; // 18px
    line-height: 1.34em; // 24px
  }
  ul {
    margin-bottom: 1.5em;
  }
  li {
    color: #595959;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
  }
  footer {
    height: 20px;
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    border-top: none;
    border-bottom: 1px solid #eee;
  }
}
.archive-page time {
  float: right;
  color: #999;
  font-size: 0.875em;
  font-style: italic;
}
.whitespace li {
  margin-bottom: 1em;
}
.share-button {
  float: left;
  margin-right: 1em;
}

// Donate ----------------------------------------------------------------------
.donate-page input {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  @include box-shadow(none);
  @include border-radius(0);
}

// Footer ----------------------------------------------------------------------
#bottom {
  background: transparent url(/img/footer_divider.png) no-repeat center top;
  footer {
    padding-top: 35px;
    border: none;
    background: transparent url(/img/footer_logo.png) no-repeat 0 35px;
  }
  ul {
    clear: right;
    float: right;
  }
  nav ul {
    margin: 0 0 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d5d5d5;
  }
  li {
    display: inline;
    padding-left: 15px;
    font-size: 10px;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    color: #595959;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
}
.fr #bottom footer {
  background-image: url(/img/pied_logo.png);
}

// Bootstrap extras ------------------------------------------------------------

.span4-plus{width:340px;}
.span5-plus{width:420px;}
.span6-plus{width:500px;}
.span7-plus{width:580px;}

// Internet Explorer -----------------------------------------------------------
// inline-block trick
.lt-ie8 {
  .social,
  .radio span {
    zoom: 1;
    display: inline;
  }
}

.lt-ie7 {
  .logos span {
    background-image: url(/img/logos.gif);
  }
}

// Bootstrap IE6 ---------------------------------------------------------------
.lt-ie7 {
  // blockquote small:before{content:'\2014 \00A0';}
  blockquote small:before{content:"";}
  // [class*="span"]{float:left;margin-left:20px;}
  .span1{float:left;margin-left:20px;}
  .span2{float:left;margin-left:20px;}
  .span3{float:left;margin-left:20px;}
  .span4{float:left;margin-left:20px;}
  .span5{float:left;margin-left:20px;}
  .span6{float:left;margin-left:20px;}
  .span7{float:left;margin-left:20px;}
  .span8{float:left;margin-left:20px;}
  .span9{float:left;margin-left:20px;}
  .span10{float:left;margin-left:20px;}
  .span11{float:left;margin-left:20px;}
  .span12{float:left;margin-left:20px;}

  .span4-plus{float:left;margin-left:20px;}
  .span5-plus{float:left;margin-left:20px;}
  .span6-plus{float:left;margin-left:20px;}
  .span7-plus{float:left;margin-left:20px;}
}
