<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include head_en.html %}
<body class="{{ page.id }}-page">
{% include header.html %}

<div id="middle">
  <div class="page first">
    <div id="content">
{{ content }}
    </div>
    {% include sidebar.html %}
  </div>
</div>

{% include footer.html %}
</body>
</html>